<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
		<link rel="stylesheet" type="text/css" href="../css/main.css"/>
	</head>
	<body>
		<section id="cls_hdr">
			<header class="inlineparent __hdr_main content_centralize">
				<div class="__logo">
					<img src="../img/logo.png"/>
				</div>
				<div class="__srch_neigh">
					<input type="text" class="__srch __wdth__70" placeholder="Search Your Neighbour"/>
					<img src="">
				</div>
				<div class="inlineparent __mod_login">
					<form method="post" action="#" class="inlineparent">
						<div class="__eml__PH">
							<p> EMAIL OR PHONE</p>
							<input type="text" placeholder="Enter your EmailId or Phone number" />
						</div>
						<div class="__eml__PH">
							<p> PASSWORD</p>
							<input type="text" placeholder="Enter your Password" />
						</div>
						<div class="button __bg_button">Login</div>
					</form>
				</div>
			</header>
		</section>
		<section id="cls_bdy">
			<article class="content_centralize __main__cntnt">
				
				<div class="content_centralize signUpTdy inlineparent" id="__finalStp">
					<h2>
						Enter your Details
					</h2>
					<div class="__Signup inlineparent">
						<input type="text" class="__signupBox" placeholder="Enter Your Ssecurity Question"/>
						<input type="text" class="__signupBox" placeholder="Enter Your Ssecurity Answer"/>
						<div class="inlineparent">
							<input type="text" class="__dt_sgnBx" placeholder="Day" style="width:28%;" />
							<input type="text" class="__dt_sgnBx" placeholder="Month" style="width:28%;"/>
							<input type="text" class="__dt_sgnBx" placeholder="Year" style="width:28%;"/>
						</div>
						<div class="__signUpButton __bg_button __confirm">Confirm</div>
					</div>
				</div>

			</article>
		</section>
		<section id="cls_ftr">
			<footer class="content_centralize ft_btm">
				<ul class="inlineparent">
					<li class="links">Home</li> | 
					<li class="links">About Us</li> | 
					<li class="links">Popular Pages</li> | 
					<li class="links">Blog</li> | 
					<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
				</ul>
			</footer>
		</section>
	</body>
</html>