<div class="registration_form" id="imgGalleryPage">
	<div class="_reg_hd_name">
		Upload Profile Image
	</div>
	<div class="inlineparent __center">
		<div class="prf_prf_pic inlineparent">
			<form action="/gb/upload-srvc/profile" method="post" enctype="multipart/form-data">
				<div class="prf_prs_pic_img">
					<img src="../img/profile_pic.png">
					<input type="file" name="file"/>
				</div>		
				
				<div class="prf_prs_pic_opt inlineparent">
					<div class="prs _opt_img upload prflPic" style="margin:0">Upload</div>
					<div class="prs _opt_img rmv">Remove</div>
				</div>
			</form>	
		</div>
		<div class="prf_cvr_pic inlineparent">
			<form action="/gb/srvc/upload-header-pic" method="post" enctype="multipart/form-data">
				<input type="hidden" value="" name="gbId"/>
				<div class="prf_cvr_pic_img">
					<img src="../img/defautl_cover.png">
				</div>
				<div class="prf_cvr_pic_opt inlineparent">
					<div class="cvr _opt_img upload" style="margin:0">Upload</div>
					<div class="cvr _opt_img rmv">Remove</div>
				</div>
			</form>	
		</div>
	</div>
	
</div>
<div class="registration_form">
	<div class="_reg_hd_name">
		Best Memorial Shots
	</div>
	<div class="inlineparent __center">
		<form action="/gb/srvc/upload-gallery" method="post" enctype="multipart/form-data">
			<div class="prf_cvr_pic inlineparent">
				<div class="prf_cvr_pic_img">
					<img src="../img/memories.png">
				</div>						
				<div class="prf_cvr_pic_opt inlineparent">
					<div class="cvr _opt_img upload" style="width: 490px;margin: 0;">Upload</div>
				</div>
			</div>
		</form>	
	</div>
	<div class="inlineparent __center">
		<div class="ldd_pic_img inlineparent">
			<div class="_pic_img_upld">
				<img src="../img/hament.png">
			</div>
			<div class="_rmv_upld_pic"></div>						
		</div>
		<div class="ldd_pic_img inlineparent">
			<div class="_pic_img_upld">
				<img src="../img/hament.png">
			</div>
			<div class="_rmv_upld_pic"></div>						
		</div>
		<div class="ldd_pic_img inlineparent">
			<div class="_pic_img_upld">
				<img src="../img/hament.png">
			</div>
			<div class="_rmv_upld_pic"></div>						
		</div>
		<div class="ldd_pic_img inlineparent">
			<div class="_pic_img_upld">
				<img src="../img/hament.png">
			</div>
			<div class="_rmv_upld_pic"></div>						
		</div>
		
	<script type="text/javascript">
		$(document).ready(function(){
			$("#imgGalleryPage").on("click",".prflPic",function(){
				var _self=$(this);
				_self.parents("form").ajaxSubmit(function(data){
					if(data.stats==0){
						alert("file successfully uploaded");
					}else{
						alert("file failed");
					}
				});
			});
		});
	</script>
</div>