
.top-strip {
    background-color: #413939;
    height: auto;
    min-height: 75px;
    overflow: hidden;
    width: 100%;
}
.top-strip h1 {
    color: #fff;
    font-size: 30px;
    line-height: 2.6;
    text-align: center;
}
.container {
    margin: 0 auto !important;
    max-width: 1300px;
}
.img-left {
    clear: left;
    float: left;
    margin: 0;
    padding: 3px;
}
.top-content {
    background: #ffffff none no-repeat scroll 0 0;
    height: 300px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.top-content .left {
    height: auto;
    padding: 15px 30px;
    vertical-align: bottom;
    width: 30%;
}
.top-content .left p {
    color: #333333;
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    width: 100%;
}
.email {
    color: #333333;
    font-size: 16px;
    line-height: 40px;
}
.top-content .right {
    background: #ededed url("../img/showCase/Anne_profile_.jpg") no-repeat scroll 0 0 / cover ;
    height: 100%;
    margin-left: -4px;
    width: 70%;
}
.top-content .right img {
    height: auto;
    width: 100%;
}
.profile-image {
    background: #413939 none repeat scroll 0 0;
    border-radius: 100%;
    height: 100px;
    left: 10%;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 100px;
    z-index: 1;
}
.profile-image img {
    height: auto;
    overflow: hidden;
    width: 100%;
}
.btn-top {
    bottom: 20px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: 40px;
    width: 300px;
    z-index: 9;
}
.top-btn {
    background: #423c3c none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    line-height: 31px;
    margin-left: 40px;
    padding: 9px 21px;
    text-decoration: none;
}
.content {
    background: #ededed none repeat scroll 0 0;
    height: auto;
    max-width: 1300px;
    overflow: auto;
}
.content .part1 {
    margin: 0 auto;
    padding: 30px;
    width: calc(100% / 4 * 3);
}
.content .part1 .testimonials {
    background: #fff none repeat scroll 0 0;
    box-sizing: border-box;
    height: auto;
    overflow: auto;
    padding: 10px;
    width: 100%;
}
.content .part1 .testimonials > p {
    width: 100%;
}
.content .part1 .testimonials p {
    color: #333333;
    font-size: 15px;
    line-height: 19px;
    margin-top: 10px;
    padding: 3px;
}
.menu {
    background: #cfd0cc none repeat scroll 0 0;
    height: 55px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    border-right: 1px solid #fff;
    font-size: 22px;
    line-height: 1.6;
    min-width: 24%;
    padding: 10px 15px;
}
.menu ul li a {
    color: #5c5c5c;
    text-decoration: none;
}
.heading {
    background: #fff none repeat scroll 0 0;
    color: #5c5c5c;
    font-size: 22px;
    width: 16%;
}
.line {
    background: #d0d0d0 none repeat scroll 0 0;
    height: 1px;
    width: 100%;
}
.text-small {
    font-size: 12px !important;
    text-align: justify;
}
.text-small a {
    color: #1e51b9;
    font-size: 12px !important;
    text-align: justify;
    text-decoration: underline;
}
.big-text {
    font-size: 20px !important;
    font-weight: bold;
    line-height: 43px !important;
}
.big-text1 {
    font-size: 18px !important;
    font-weight: bold;
    line-height: 10px !important;
}
.line-new {
    border-bottom: 1px solid #dddddd;
    height: 30px;
    width: 100%;
}
.matter {
    border-left: 1px solid #d0d0d0;
    float: right;
    height: auto;
    padding-bottom: 20px;
    width: 90%;
}
.matter .top {
    background: #fff none repeat scroll 0 0;
    height: 50px;
    width: 100%;
}
.matter .top .first {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #5c5c5c;
    border-radius: 50%;
    float: left;
    font-size: 17px;
    line-height: 26px;
    margin-left: -19px;
    padding: 4px 13px;
}
.matter .top .second {
    color: #5c5c5c;
    float: left;
    font-size: 18px !important;
    font-weight: bold;
    line-height: 27px;
    margin-left: 15px;
    text-align: justify;
    text-decoration: underline;
    width: 60%;
}
.matter .top .last {
    color: #5c5c5c;
    float: right;
    font-size: 12px !important;
    margin-right: 20px;
    text-align: justify;
}
.matter .cont {
    height: auto;
    margin-bottom: 28px;
    width: 100%;
}
.matter .cont .title {
    color: #5c5c5c;
    float: left;
    font-size: 13px !important;
    height: auto;
    padding-left: 33px;
    text-align: justify;
    width: 45%;
}
.matter .cont .image {
    color: #5c5c5c;
    float: left;
    font-size: 13px !important;
    height: auto;
    margin-top: -10px;
    padding-left: 33px;
    padding-right: 7px;
    text-align: right;
    width: 41%;
}
.inner-con {
    height: auto;
    margin-bottom: 20px;
    overflow: auto;
    width: 100%;
}
.content .part2 {
    background: #f4f0e7 none repeat scroll 0 0;
    border-left: 1px solid #dbd5c9;
    float: right;
    min-height: 50px;
    vertical-align: top;
    width: 250px;
}
.content .part2 .head, .content .part2 .side-content {
    height: auto;
    overflow: hidden;
    width: 100%;
}
.content .part2 .head ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.content .part2 .head ul li {
    color: #5c5c5c;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.content .part2 .head ul li a {
    color: #5c5c5c;
    text-decoration: none;
}
.content .part2 .side-content {
    border-bottom: 1px solid #dbd5c9;
}
.content .part2 .side-content .img {
    float: left;
    height: auto;
    margin-left: 9px;
    margin-right: 10px;
    width: 21%;
}
.content .part2 .side-content .img img {
    height: auto;
    width: 100%;
}
.content .part2 .side-content .name {
    color: #5c5c5c;
    float: left;
    font-size: 13px !important;
    height: auto;
    line-height: 50px;
    text-align: left;
    width: 60%;
}
.content .part2 .side-content .last-green {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
    height: 5px;
    margin-top: 24px;
    width: 5px;
}
.content .part2 .side-content .last-red {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid red;
    border-radius: 50%;
    float: left;
    height: 5px;
    margin-top: 24px;
    width: 5px;
}
.moments {
    border-right: 0 solid #5c5c5c;
    color: #5c5c5c;
    float: left;
    font-size: 25px;
    font-weight: normal;
    margin-top: 14px;
    padding: 0 21px;
    text-decoration: none;
    text-transform: none;
}
.view-all {
    border-right: 0 solid #5c5c5c;
    color: #5c5c5c;
    float: right;
    font-size: 15px;
    font-weight: normal;
    margin-top: 14px;
    padding: 8px 21px;
    text-decoration: none;
    text-transform: none;
}
.view-all a {
    color: #5c5c5c;
    text-decoration: none;
}
.first-image {
    float: left;
    height: auto;
    margin-right: 1%;
    width: 15%;
}
.first-image img {
    height: auto;
    width: 100%;
}
.second-image {
    float: left;
    height: auto;
    width: 25%;
}
.second-image img {
    height: 100%;
    width: auto;
}
.third-image {
    float: left;
    height: auto;
    width: 50%;
}
.third-image img {
    height: 100%;
    width: auto;
}
.video {
    background: #eeeeee none repeat scroll 0 0;
    border: 1px solid #ddd;
    float: left;
    height: auto;
    margin: 2%;
    overflow: auto;
    width: 29%;
}
.video img {
    height: auto;
    width: 100%;
}
.video-text {
    border-right: 0 solid #5c5c5c;
    color: #5c5c5c;
    float: left;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 21px;
    text-decoration: none;
    text-transform: none;
}
.box {
    border-bottom: 1px solid #dddddd;
    height: auto;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 20px;
    width: 100%;
}
.box-left {
    float: left;
    height: auto;
    margin-right: 2%;
    width: 78%;
}
.box-right {
    float: left;
    height: auto;
    width: 20%;
}
.box-bottom {
    float: left;
    font-size: 13px;
    height: auto;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}
.button {
    background: #85ccac none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    line-height: 42px;
    padding: 7px 50px;
    text-decoration: none;
}
.button:hover {
    color: #000;
    text-decoration: none;
}
.button a {
    text-decoration: none;
}
.button a:hover {
    color: #000;
    text-decoration: none;
}
._sttl_lnd {
    background: rgba(0, 0, 0, 0) url("../img/home.jpg") no-repeat scroll 0 0;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgahand, ._prf_lnd_pghome, ._prf_lnd_pgicon2, ._prf_lnd_pgicon3, ._prf_lnd_pgicon4, ._prf_lnd_pgphone, ._prf_lnd_pgicon1, ._prf_lnd_pgmsg, ._prf_lnd_pghand, ._prf_lnd_pgleaf, ._prf_lnd_pgshake-hand, ._prf_lnd_pgcont-icon {
    background: rgba(0, 0, 0, 0) url("../img/__profile_landing.png") no-repeat scroll 0 0;
    display: inline-block;
    overflow: hidden;
    text-align: left;
}
.content .part1 .testimonials p._dt {
    background-position: -10px -355px;
    margin: 0;
    padding-left: 22px;
    width: 125px;
}
._prf_lnd_pgahand {
    background-position: -10px 0;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pghome {
    background-position: -10px -35px;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgicon2 {
    background-position: -10px -70px;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgicon3 {
    background-position: -10px -105px;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgicon4 {
    background-position: -10px -140px;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgphone {
    background-position: -10px -175px;
    min-height: 25px;
    width: 25px;
}
._prf_lnd_pgicon1 {
    background-position: -10px -210px;
    min-height: 20px;
    width: 23px;
}
._prf_lnd_pgmsg {
    background-position: -10px -240px;
    min-height: 19px;
    width: 21px;
}
._prf_lnd_pghand {
    background-position: -10px -269px;
    min-height: 20px;
    width: 20px;
}
._prf_lnd_pgleaf {
    background-position: -10px -299px;
    min-height: 21px;
    width: 17px;
}
._prf_lnd_pgshake-hand {
    background-position: -10px -330px;
    min-height: 21px;
    width: 17px;
}
._prf_lnd_pgcont-icon {
    background-position: -10px -361px;
    min-height: 14px;
    width: 13px;
}
.connectPop {
    min-height: 200px;
    width: 450px;
}
.conHeader.inlineparent {
    background-color: #2bbb9e;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}
.conHeader.inlineparent img {
    float: right;
    margin-top: 5px;
}
.conContent.inlineparent {
    padding: 15px;
}
.conContent.inlineparent label {
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
}
.conContent.inlineparent input {
    box-shadow: 0 1px 0 #ddd;
    padding: 10px;
    width: 100%;
}
.conContent.inlineparent .conSubmit {
    background-color: #ff6868;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    margin-top: 10px;
    padding: 7px 10px;
}
