.top-strip {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #413939;
    min-height: 75px;
}
.top-strip h1 {
    font-size: 30px;
    color: #fff;
    line-height: 2.6;
    text-align: center;
}
.container {
    max-width: 1300px;
    margin: 0 auto !important;
}
.img-left {
    float: left;
    clear: left;
    padding: 3px;
    margin: 0;
}
.top-content {
    width: 100%;
    height: 258px;
    background: #FFFFFF;
    position: relative;
}
.top-content .left {
    width: 29%;
    height: auto;
    padding: 15px 30px;
    vertical-align: bottom;
}
.top-content .left p {
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    width: 100%;
    padding-left: 30px;
}
.email {
    font-size: 16px;
    color: #333333;
    line-height: 40px;
}
.top-content .right {
    width: 70%;
    height: 260px;
    background: #EDEDED url('../img/showCase/Anne_profile_.jpg')no-repeat;
    margin-left: -4px;
      background-size: cover;
}
.top-content .right img {
    width: 100%;
    height: auto;
}
.profile-image {
    height: 100px;
    width: 100px;
    background: #413939;
    border-radius: 100%;
    top: 10px;
    left: 10%;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}
.profile-image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.btn-top {
    height: 50px;
    width: 300px;
    z-index: 9;
    position: absolute;
    overflow: hidden;
    bottom: 20px;
    right: 40px;
}
.top-btn {
    color: #fff;
    font-size: 15px;
    padding: 9px 21px;
    background: #423c3c;
    line-height: 31px;
    margin-left: 40px;
    text-decoration: none;
}
.content {
    background: #ededed;
    max-width: 1300px;
    height: auto;
    overflow: auto;
}
.content .part1 {
    width: calc((100%/4)*3);
    padding: 30px;
}
.content .part1 .testimonials {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px;
    overflow: auto;
    box-sizing:border-box;
}
.content .part1 .testimonials> p{
    width: 100%;
    
}
.content .part1 .testimonials p {
    font-size: 15px;
    color: #333333;
    line-height: 19px;
    margin-top: 10px;
    padding: 3px;
}
.menu {
    width: 100%;
    height: 55px;
    background: #cfd0cc;
    margin-top: 30px;
    text-align: center;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    border-right: 1px solid #fff;
    line-height: 1.6;
    padding: 10px 15px;
    font-size: 22px;
    min-width: 24%;
}
.menu ul li a {
    text-decoration: none;
    color: #5c5c5c;
}
.heading {
    font-size: 22px;
    color: #5c5c5c;
    width: 16%;
    background: #FFF;
}
.line {
    height: 1px;
    background: #D0D0D0;
    width: 100%;
}
.text-small {
    font-size: 12px !important;
    text-align: justify;
}
.text-small a {
    font-size: 12px !important;
    text-align: justify;
    color: #1e51b9;
    text-decoration: underline;
}
.big-text {
    font-size: 20px !important;
    font-weight: bold;
    line-height: 43px !important;
}
.big-text1 {
    font-size: 18px !important;
    font-weight: bold;
    line-height: 10px !important;
}
.line-new {
    border-bottom: 1px solid #dddddd;
    height: 30px;
    width: 100%;
}
.matter {
    width: 90%;
    height: auto;
    border-left: 1px solid #D0D0D0;
    padding-bottom: 20px;
    float: right;
}
.matter .top {
    width: 100%;
    height: 50px;
    background: #fff;
}
.matter .top .first {
    margin-left: -19px;
    float: left;
    border: 1px solid #5c5c5c;
    border-radius: 50%;
    font-size: 17px;
    line-height: 26px;
    background: #fff;
    padding: 4px 13px;
}
.matter .top .second {
    font-size: 18px !important;
    text-align: justify;
    color: #5c5c5c;
    text-decoration: underline;
    width: 60%;
    float: left;
    margin-left: 15px;
    font-weight: bold;
    line-height: 27px;
}
.matter .top .last {
    float: right;
    margin-right: 20px;
    font-size: 12px !important;
    text-align: justify;
    color: #5c5c5c;
}
.matter .cont {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}
.matter .cont .title {
    width: 45%;
    float: left;
    height: auto;
    font-size: 13px !important;
    text-align: justify;
    color: #5c5c5c;
    padding-left: 33px;
}
.matter .cont .image {
    width: 41%;
    /* text-align: right; */
    
    padding-right: 7px;
    height: auto;
    font-size: 13px !important;
    text-align: right;
    color: #5c5c5c;
    padding-left: 33px;
    float: left;
    margin-top: -10px;
}
.inner-con {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    overflow: auto;
}
.content .part2 {
    width: 250px;
    border-left: 1px solid #dbd5c9;
    background: #f4f0e7;
    min-height: 50px;
    vertical-align: top;
    float: right;
}
.content .part2 .head,.content .part2 .side-content {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.content .part2 .head ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content .part2 .head ul li {
    text-transform: uppercase;
    font-size: 14px;
    color: #5c5c5c;
    padding: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.content .part2 .head ul li a {
    text-decoration: none;
    color: #5c5c5c;
}
.content .part2 .side-content {
    border-bottom: 1px solid #dbd5c9;
}
.content .part2 .side-content .img {
    width: 21%;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-left: 9px;
}
.content .part2 .side-content .img img {
    width: 100%;
    height: auto;
}
.content .part2 .side-content .name {
    width: 60%;
    height: auto;
    float: left;
    font-size: 13px !important;
    text-align: left;
    color: #5c5c5c;
    line-height: 50px;
}
.content .part2 .side-content .last-green {
    height: 5px;
    width: 5px;
    background: none;
    border-radius: 50%;
    border: 2px solid green;
    float: left;
    margin-top: 24px;
}
.content .part2 .side-content .last-red {
    height: 5px;
    width: 5px;
    background: none;
    border-radius: 50%;
    border: 2px solid red;
    float: left;
    margin-top: 24px;
}
.moments {
    text-decoration: none;
    text-transform: none;
    font-size: 25px;
    color: #5c5c5c;
    float: left;
    padding: 0px 21px;
    border-right: 0px solid #5c5c5c;
    font-weight: normal;
    margin-top: 14px;
}
.view-all {
    text-decoration: none;
    text-transform: none;
    font-size: 15px;
    color: #5c5c5c;
    float: left;
    padding: 8px 21px;
    border-right: 0px solid #5c5c5c;
    font-weight: normal;
    margin-top: 14px;
    float: right;
}
.view-all a {
    text-decoration: none;
    color: #5c5c5c;
}
.first-image {
    width: 15%;
    float: left;
    height: auto;
    margin-right: 1%;
}
.first-image img {
    width: 100%;
    height: auto;
}
.second-image {
    width: 25%;
    float: left;
    height: auto;
}
.second-image img {
    width: auto;
    height: 100%;
}
.third-image {
    width: 50%;
    float: left;
    height: auto;
}
.third-image img {
    width: auto;
    height: 100%;
}
.video {
    background: #eeeeee;
    border: 1px solid #ddd;
    height: auto;
    width: 29%;
    margin: 2%;
    overflow: auto;
    float: left;
}
.video img {
    width: 100%;
    height: auto;
}
.video-text {
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
    color: #5c5c5c;
    float: left;
    padding: 10px 21px;
    border-right: 0px solid #5c5c5c;
    font-weight: normal;
}
.box {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 20px;
}
.box-left {
    width: 78%;
    margin-right: 2%;
    height: auto;
    float: left;
}
.box-right {
    width: 20%;
    height: auto;
    float: left;
}
.box-bottom {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10px;
    text-align: right;
    font-size: 13px;
}
.button {
    color: #fff;
    padding: 7px 50px;
    background: #85ccac;
    border-radius: 5px;
    line-height: 42px;
    text-decoration: none;
}
.button:hover {
    color: #000;
    text-decoration: none;
}
.button a {
    text-decoration: none;
}
.button a:hover {
    color: #000;
    text-decoration: none;
}
._sttl_lnd{
    background: url('../img/home.jpg') no-repeat; 
    width: 25px;
    min-height: 25px;
}
._prf_lnd_pgahand,._prf_lnd_pghome,._prf_lnd_pgicon2,._prf_lnd_pgicon3,._prf_lnd_pgicon4,._prf_lnd_pgphone,._prf_lnd_pgicon1,._prf_lnd_pgmsg,._prf_lnd_pghand,._prf_lnd_pgleaf,._prf_lnd_pgshake-hand,._prf_lnd_pgcont-icon{  
    background: url('../img/__profile_landing.png') no-repeat; 
    display: inline-block; 
    overflow: hidden;
    text-align: left; 
}
 .content .part1 .testimonials p._dt {
     width: 125px;
    padding-left: 22px;
    margin: 0;
    background-position: -10px -355px;
}
._prf_lnd_pgahand { background-position: -10px -0px; width: 25px; min-height: 25px; }
._prf_lnd_pghome { background-position: -10px -35px; width: 25px; min-height: 25px; }
._prf_lnd_pgicon2 { background-position: -10px -70px; width: 25px; min-height: 25px; }
._prf_lnd_pgicon3 { background-position: -10px -105px; width: 25px; min-height: 25px; }
._prf_lnd_pgicon4 { background-position: -10px -140px; width: 25px; min-height: 25px; }
._prf_lnd_pgphone { background-position: -10px -175px; width: 25px; min-height: 25px; }
._prf_lnd_pgicon1 { background-position: -10px -210px; width: 23px; min-height: 20px; }
._prf_lnd_pgmsg { background-position: -10px -240px; width: 21px; min-height: 19px; }
._prf_lnd_pghand { background-position: -10px -269px; width: 20px; min-height: 20px; }
._prf_lnd_pgleaf { background-position: -10px -299px; width: 17px; min-height: 21px; }
._prf_lnd_pgshake-hand { background-position: -10px -330px; width: 17px; min-height: 21px; }
._prf_lnd_pgcont-icon { background-position: -10px -361px; width: 13px; min-height: 14px; }
.connectPop{
    width: 450px;
    min-height: 200px;
}
.conHeader.inlineparent {
    padding: 10px;
    background-color: #2bbb9e;
    color: #fff;
    font-weight: bold;
}

.conHeader.inlineparent img {
    float: right;
    margin-top: 5px;
}
.conContent.inlineparent {
    padding: 15px;
}

.conContent.inlineparent label {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.conContent.inlineparent input {
    padding: 10px;
    width: 100%;
    box-shadow: 0 1px 0px #ddd;
}

.conContent.inlineparent .conSubmit {
    float: right;
    padding: 7px 10px;
    background-color: #FF6868;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}