<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
		<% include ../../partials/head.html.ejs %>
		<style type="text/css">
			.__main__cntnt{
				background: #f5f5f5;
				margin-top: 50px;
			}
			section#cls_bdy{
				background: #f5f5f5;
				height: 500px;
			}
			/*section.__it_wrks{
				background: #454545;
			}*/
			.makeItLarge {
				width: 650px;
				vertical-align: top;
				color: #565a5c;
			}
			.makeItLarge h1{
				font-size: 800%;
			}
			.makeItLarge h3 {
			    font-size: 200%;
			    width: 500px;
			}
			.inlineparent.Url_offrs {
			    width: 600px;
			}

			.inlineparent.Url_offrs p {
			    width: 295px;
			    color: #f58788;
			}
			.homePageRedirect{
				width: 200px;
				padding: 8px;
				margin: 45px auto 0;
			}
		</style>
	</head>
	<body>
		<section id="cls_hdr" class="___hd_sctn">
			<header class="inlineparent __hdr_main content_centralize">
				<div class="__logo">
					<h2>GLAMBIN</h2>
				</div>
			</header>
		</section>
		<section id="cls_bdy">
			<article class="content_centralize __main__cntnt inlineparent">
				<div class="makeItLarge">
					<h1>Oops ! </h1>
					<h3>We can't seem to find the page you're looking for.</h3>
					<h5 style="margin-top :15px;">Here are some other helpful links listed.</h5>
					<div class="inlineparent Url_offrs">
						<a href=""><p class="_14_fnt_sz"> Hament Rock's</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament is shining star</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament is apple for newton</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament Rock's once again</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament Rock's</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament is shining star</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament is apple for newton</p></a>
						<a href=""><p class="_14_fnt_sz"> Hament Rock's once again</p></a>
					</div>
					<div class="__center">
						<a href="/">
							<div class="_pln_button homePageRedirect">Move to Home Page </div>
						</a>
					</div>
				</div>
				<div class="right">
					<img src="../img/404.png"/>
				</div>
			</article>
		</section>
		<!-- <section class="__it_wrks">
			<article class="content_centralize inlineparent">
				
			</article>
		</section> -->
		<section id="cls_ftr">
			<footer class="content_centralize ft_btm">
				<ul class="inlineparent">
					<li class="links">Home</li> | 
					<li class="links">About Us</li> | 
					<li class="links">Popular Pages</li> | 
					<li class="links">Blog</li> | 
					<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
				</ul>
			</footer>
		</section>
	</body>
</html>