<section id="cls_ftr">
	<footer class="content_centralize ft_btm">
		<ul class="inlineparent">
			<li class="links">Home</li> | 
			<li class="links">About Us</li> | 
			<li class="links">Popular Pages</li> | 
			<li class="links">Blog</li> | 
			<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
		</ul>
	</footer>
</section>