<section id="cls_ftr">
	<footer class="content_centralize ft_btm">
		<ul class="inlineparent">
			<li class="links"><a href="/">Home</a></li> | 
			<li class="links"><a href="/gb/about-us">About Us</a></li> | 
			<li class="links"><a href="/gb/terms-policy">Terms Of use</a></li> | 
			<li class="links"><a href="/gb/contact-us">Contact Us</a></li> | 
			<li class="links"><a href="/gb/faq-help">FAQ</a></li> 
		</ul>
	</footer>
</section>