<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
	  	<% include ../partials/head.html.ejs%>
	  	<link rel="stylesheet" type="text/css" href="/css/setting.css">
		<script type="text/javascript" src="../js/library/jquery.form.js"></script>
		<script type="text/javascript" src="../js/library/validate.min.js"></script>
	</head>
	<body>
		<% include ../partials/_section_header.html.ejs %>
		<section id="contact">
			<article class="content_centralize inlineparent _cntct_pg">
				<div class="inlineparent feedBackForm">
					<div class="form_header inlineparent">
						<img src="../../img/write_us.png"/>
						<h1>Feedback</h1>
						<h4>Please provide us your valuable feedback about us. We appreciate and will definately work on that.</h4>	
					</div>
					<div class="inlineparent pdg_btm_tp_20">
						<div class="wdth_100_per attrAddBlck inlineparent">
							<div class="inp_blck">
								<label>Name</label>
								<input type="text" class="wdth_100_per"/>
							</div>
							<div class="inp_blck">
								<label>Email</label>
								<input type="text" class="wdth_100_per"/>
							</div>
						</div>
						<div class="wdth_100_per attrAddBlck inlineparent">
							<div class="inp_blck">
								<label>Feedback Regarding</label>
								<select class="wdth_100_per">
									<option>Please select</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
							<div class="inp_blck">
								<label>Phone</label>
								<input type="text" class="wdth_100_per"/>
							</div>
						</div>
						<div class="wdth_100_per attrAddBlck">
							<textarea class="txtArea"></textarea>
						</div>
						<div class="wdth_100_per attrAddBlck Submit inlineparent">
							<div class="_pln_button _submt _rst">Cancel</div>
							<div class="_pln_button _submt _sbmt">Submit</div>
						</div>
					</div>
				</div>
				<div class="inlineparent Cnct_add" style="vertical-align:top">
					<div class="inlineparent form_header">
						<img src="../../img/map_lct.png"/>
						<h1>Contact Us</h1>
						<h4>It's quite easy to contact us. We are your next neighbours.</h4>
					</div>
					<div class="inlineparent pdg_btm_tp_20">
						<img src="../../img/staticmap.png" class="pdg_btm_lr_25"/>
						<div class="inlineparent _addrs pdg_btm_lr_25">
							<h2>Head Office</h2>

							<p>
								163, G-5, Sector-16, Rohini, Delhi, India - 110085 
							</p>
						</div>
						<div class="inlineparent _addrs pdg_btm_lr_25">
							<h2>Corporate Office</h2>
							<p>
								163, G-5, Sector-16, Rohini, Delhi, India - 110085 
							</p>
						</div>
					</div>
				</div>
			
			</article>
		</section>
		<% include ../partials/_section_footer.html.ejs %>
	</body>
</html>		