<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
	  	<% include ../partials/head.html.ejs%>
	  	<link rel="stylesheet" type="text/css" href="/css/setting.css">
		<script type="text/javascript" src="../js/library/jquery.form.js"></script>
		<script type="text/javascript" src="../js/library/validate.min.js"></script>
	</head>
	<body>
		<% include ../partials/_section_header.html.ejs %>
		<section>
			<div class="container" id="body">
				<div class="inlineparent mtnContainer" id="resetPassword">
					<div class="header bx_szg wdth_100_per">
						<h2>Forgot Password</h2>
					</div>
					<div class="passwd_cntnr wdth_100_per bx_szg inlineparent">
						<form action="/gb/reset-password" method="post" class="wdth_100_per">
								
							<input type="password" class="__pass" name="conPass"  placeholder="Reconfirm your password"/>	
							<div class="wdth_100_per txt_algn_rgt" style="margin-top:15px;">
								<div class="_svd_sbmt __bg_button saveData">Save</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<% include ../partials/_section_footer.html.ejs %>
		<script type="text/javascript">
			
			$(document).ready(function(){
				
				$("#skipRegistration input[type='radio']").click(function(){
					var _self=$(this);
					$.ajax({
						url:'/user-srvc/skip-registration',
						type:"post",
						data:{doSkip:_self.val()},
						success:function (data) {
							console.log(data)
							if(data.status==0){

							}else{

							}
						}
					});
				});

			});
		</script>
	</body>
</script>		