<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
	  	<% include ../partials/head.html.ejs%>
	  	<link rel="stylesheet" type="text/css" href="/css/setting.css">
		<script type="text/javascript" src="../js/library/jquery.form.js"></script>
		<script type="text/javascript" src="../js/library/validate.min.js"></script>
	</head>
	<body>
		<% include ../partials/_section_header.html.ejs %>
		<section>
			<div class="container" id="body">
				<div class="inlineparent mtnContainer __center bx_szg" id="resetPassword">
					<h2>Forgot Password</h2>
					<div class="passwd_cntnr wdth_100_per bx_szg inlineparent">
						<p style="line-height:1.6">Please enter your email id or phone number through which you have registered with us.</p>
						<form action="/gb/srvc/forgot-password" method="post" class="wdth_100_per">
							<input type="text" class="__pass bx_szg" name="signIn" placeholder="Enter your EmailId or phone Number"/>	
							<div class="wdth_100_per __center" style="margin-top:15px;">
								<div class="_svd_sbmt __bg_button saveData" style="float:none">Submit</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<% include ../partials/_section_footer.html.ejs %>
		<script type="text/javascript">
			
			$(document).ready(function(){
				$(".saveData").click(function(){
					$(this).parents("form").ajaxSubmit(function(data){

					});
				});
			});
		</script>
	</body>
</script>		