<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
	  	<% include ../partials/head.html.ejs%>
	  	<link rel="stylesheet" type="text/css" href="/css/setting.css">
		<script type="text/javascript" src="../js/library/jquery.form.js"></script>
		<script type="text/javascript" src="../js/library/validate.min.js"></script>
	</head>
	<body>
		<% include ../partials/_section_header.html.ejs %>
		<section>
			<div class="container" id="body">
				<div class="inlineparent mtnContainer __center bx_szg" id="resetPassword">
					<% if(id==undefined || id==null){%>
						<h2>Forgot Password</h2>
						<div class="passwd_cntnr wdth_100_per bx_szg inlineparent">
							<p style="line-height:1.6">Please enter your email id or phone number through which you have registered with us.</p>
							<form action="/gb/srvc/forgot-password" name="forgotPassword" method="post" class="wdth_100_per">
								<input type="text" class="__pass bx_szg" name="signIn" placeholder="Enter your EmailId or phone Number"/>	
								<div class="wdth_100_per __center" style="margin-top:15px;">
									<div class="_svd_sbmt __bg_button saveData" style="float:none">Submit</div>
								</div>
							</form>
						</div>
					<%}else{%>
						<h2>Welcome <%=name%></h2>
						<div class="passwd_cntnr wdth_100_per bx_szg inlineparent">
							<p style="line-height:1.6">Please enter your OTP which you have recived from us.</p>
							<form action="/gb/srvc/set-new-password" name="forgotPassword" method="post" class="wdth_100_per">
								<input type="text" class="__pass bx_szg" id="typeOTP" name="otp" placeholder="Enter your OTP Number"/>
								<input type="password" class="__pass bx_szg" name="password" placeholder="Enter your new password"/>	
								<input type="password" class="__pass bx_szg" name="confirmpassword" placeholder="Reconfirm your new password"/>	
								<input type="hidden" name="signIn" value="<%=sign%>"/>
								<input type="hidden" value="" name="otpVal" id="original"/>	
								<input type="hidden" value="<%=id%>"  id="dupinal"/>	
								<div class="wdth_100_per __center" style="margin-top:15px;">
									<div class="_svd_sbmt __bg_button saveUpdatedData" style="float:none">Submit</div>
								</div>
							</form>
						</div>
					<%}%>
				</div>
			</div>
		</section>
		<% include ../partials/_section_footer.html.ejs %>
		<script type="text/javascript">
			$(document).ready(function(){
				
				$(".saveData").click(function(){
					var form=$(this).parents("form");
					var generalValidator = new FormValidator('forgotPassword', [{
					    name: 'signIn',
					    display: 'Login Id',
					    rules: 'required'
					},], function(errors, event) {
					    if(errors.length>0){
					    	for(var i=0; i<errors.length;i++){
						    	var err=$("input[name="+errors[i].name+"]").parent().find('.error');
						    	err.show();
						    	err.find(".error_txt").text(errors[i].message);
					    		
					    	}
					    	return false;
					    }

					});
					form.ajaxSubmit(function(data){
						if(data.status==0){
							window.location.href=window.location.pathname+"?signIn="+data.result.signIn
						}else{
							alert("Your Provieded Id does not match any record.");
						}
					});
				});

				$(".saveUpdatedData").click(function(){
					var form=$(this).parents("form");
					var generalValidator = new FormValidator('forgotPassword', [{
					    name: 'otp',
					    display: 'OTP',
					    rules: 'required|max_length[6]|exact_length[6]'
					},{
					    name: 'password',
					    display: 'Password',
					    rules: 'required|min_length[6]'
					},{
					    name: 'confirmpassword',
					    display: 'Confirm Password',
					    rules: 'required|min_length[6]|matches[password]'
					}], function(errors, event) {
					    if(errors.length>0){
					    	for(var i=0; i<errors.length;i++){
						    	var err=$("input[name="+errors[i].name+"]").parent().find('.error');
						    	err.show();
						    	err.find(".error_txt").text(errors[i].message);
					    		
					    	}
					    	return false;
					    }

					});
					form.ajaxSubmit(function(data){
						if(data.status==0){
							form.append("<p>Your Password has been reset. Please login with your updated password</p>")
						}
					});
				});

				$("#typeOTP").blur(function(){
					$("#original").val($("#dupinal").val()+$(this).val());
				});
			});
		</script>
	</body>
</script>		