<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/offline.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<section id="cls_hdr" class="___hd_sctn">
			<header class="inlineparent __hdr_main content_centralize">
				<div class="__logo">
					<h2>GLAMBIN</h2>
				</div>
			</header>
		</section>
		<section id="cls_bdy">
			<article class=" __main__cntnt">
				<div class="content_centralize inlineparent">
					<div class="Offline_userInfo inlineparent">
						<div class="__center user_basic_info inlineparent">
							<img src="../../img/showCase/profile.jpg" class="profile_pic" alt="Person profile pic" />
							<h2 class="prf_name ellipsis _16_fnt_sz">Anne Hathaway</h2>
							<p class="_handle" style="width:100%">@annehathaway</p>
							<div class="inlineparent">
								<a class="_social_tags" href="http://www.facebook.com">
									<img src="../../img/social/facebook.png" alt="Facebook"/>
								</a>
								<a class="_social_tags" href="http://www.facebook.com">
									<img src="../../img/social/google.png" alt="Facebook"/>
								</a>
								<a class="_social_tags" href="http://www.facebook.com">
									<img src="../../img/social/twitter.png" alt="Facebook"/>
								</a>
								<a class="_social_tags" href="http://www.facebook.com">
									<img src="../../img/social/instagram.png" alt="Facebook"/>
								</a>

							</div>
						</div>
						<div class="user_basic_info inlineparent">
							#merylstreep #annehathaway #Devil #Wears #Prada #movie #lesmis #tos #mine #fantine #lesmiserables #interstellar #Matthew #julie #hector #callum #trascend
						</div>
						<div class="user_basic_info inlineparent">
							<p class="_des_content _14_fnt_sz">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat.</p>
						</div>
						<div class="user_basic_info inlineparent __center">
							<div class="inlineparent">
								<div class="inlineparent _ttl_conn">
									<span class="_connect">C</span>
									<h2>5.2K</h2>
								</div>
								<div class="inlineparent _ttl_conn">
									<span class="_connect">C</span>
									<h2>5.2K</h2>
								</div>
								<div class="inlineparent _ttl_conn">
									<span class="_connect">C</span>
									<h2>5.2K</h2>
								</div>
							</div>
							<div class="inlineparent" style="margin:10px 0 20px">
								<div class="login clckBTN _16_fnt_sz _pln_button" style="margin-right:40px;">Connect</div>
								<div class="signup clckBTN _16_fnt_sz _pln_button">Sign Up</div>
							</div>
						</div>
					</div>
					<div class="Empty"></div>
				</div>
			</article>
		</section>	
		<section id="cls_ftr">
			<footer class="content_centralize ft_btm">
				<ul class="inlineparent">
					<li class="links">Home</li> | 
					<li class="links">About Us</li> | 
					<li class="links">Popular Pages</li> | 
					<li class="links">Blog</li> | 
					<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
				</ul>
			</footer>
		</section>
	</body>
</html>		