<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/profile.css"/>
	</head>
	<body>
		<section id="cls_hdr" class="___hd_sctn">
			<header class="inlineparent __hdr_main content_centralize pos_rel">
				<div class="__logo">
					<h2>GLAMBIN</h2>
				</div>
					
				<div class="usr_info_img ">
					<img src="../../img/showCase/profile.jpg" alt="User Image">
				</div>
				<div class="pos_abs elem_notif" style="">
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Hament Kumar Aggarwal</div>
						<div class="logout">Logout</div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Notification</div>
						<div class="logout"></div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Settings</div>
						<div class="logout"></div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">privacy</div>
						<div class="logout"></div>
					</div>
				</div> 
			</header>
		</section>
		<section id="prfl_pg">
			<article class="mainCnt wdth_100_per">
				<section>
					<div class="cvr_prfl_info">
						<div class="content_centralize inlineparent " style="height:inherit;">
							<div class="inf_shd inlineparent pos_rel">
								<div class="prf_pht">
									<img src="../../img/showCase/profile.jpg"/>
								</div>
								<h1>Anne Hathway</h1>
								<div class="wdth_100_per inlineparent">
									<h4>@annejhathaway</h4>
								</div>
							</div>
						</div>		
					</div>
				</section>
				<section class="wdth_100_per _clcl">
					<div class="content_centralize inlineparent">
						<img src="../../img/collection/anne.jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/download.jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (1).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (2).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (3).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (4).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images.jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/anne.jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/download.jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (1).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (2).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (3).jpg" class="_ppl_cnctd"/>
						<img src="../../img/collection/images (4).jpg" class="_ppl_cnctd"/>
						<img src="../../img/circle_arrw.png"/>
					</div>	
				</section>
				<section class="wdth_100_per">
					<div class="content_centralize inlineparent">
						<div class="inlineparent _lft_bx">
							
						</div>
						<div class="_right_bx">
							
						</div>
					</div>
				</section>
			</article>
			
		</section>
		<section id="cls_ftr">
			<footer class="content_centralize ft_btm">
				<ul class="inlineparent">
					<li class="links">Home</li> | 
					<li class="links">About Us</li> | 
					<li class="links">Popular Pages</li> | 
					<li class="links">Blog</li> | 
					<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
				</ul>
			</footer>
		</section>
	</body>
</html>		