<!DOCTYPE html>
<html>
	<head>
		<title>Glambin</title>
		<link rel="stylesheet" type="text/css" href="../../css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/contact.css"/>
	</head>
	<body>
		<section id="cls_hdr" class="___hd_sctn">
			<header class="inlineparent __hdr_main content_centralize pos_rel">
				<div class="__logo">
					<h2>GLAMBIN</h2>
				</div>
					
				<div class="usr_info_img pos_rel">
					<img src="../../img/hament.png" alt="User Image">
				</div>
				<div class="pos_abs elem_notif" style="">
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Hament Kumar Aggarwal</div>
						<div class="logout">Logout</div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Notification</div>
						<div class="logout"></div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">Settings</div>
						<div class="logout"></div>
					</div>
					<div class="inlineparent _usIn_dt"> 
						<div class="usr_info_chnnl">privacy</div>
						<div class="logout"></div>
					</div>
				</div> 
			</header>
		</section>
		<section id="contact">
			<article class="content_centralize inlineparent _cntct_pg">
				<div class="inlineparent feedBackForm">
					<div class="form_header inlineparent">
						<img src="../../img/write_us.png"/>
						<h1>Feedback</h1>
						<h4>Please provide us your valuable feedback about us. We appreciate and will definately work on that.</h4>	
					</div>
					<div class="inlineparent pdg_btm_tp_20">
						<div class="wdth_100_per attrAddBlck inlineparent">
							<div class="inp_blck">
								<label>Name</label>
								<input type="text" class="wdth_100_per"/>
							</div>
							<div class="inp_blck">
								<label>Email</label>
								<input type="text" class="wdth_100_per"/>
							</div>
						</div>
						<div class="wdth_100_per attrAddBlck inlineparent">
							<div class="inp_blck">
								<label>Feedback Regarding</label>
								<select class="wdth_100_per">
									<option>Please select</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
									<option>1</option>
								</select>
							</div>
							<div class="inp_blck">
								<label>Phone</label>
								<input type="text" class="wdth_100_per"/>
							</div>
						</div>
						<div class="wdth_100_per attrAddBlck">
							<textarea class="txtArea"></textarea>
						</div>
						<div class="wdth_100_per attrAddBlck Submit inlineparent">
							<div class="_pln_button _submt _rst">Cancel</div>
							<div class="_pln_button _submt _sbmt">Submit</div>
						</div>
					</div>
				</div>
				<div class="inlineparent Cnct_add" style="vertical-align:top">
					<div class="inlineparent form_header">
						<img src="../../img/map_lct.png"/>
						<h1>Contact Us</h1>
						<h4>It's quite easy to contact us. We are your next neighbours.</h4>
					</div>
					<div class="inlineparent pdg_btm_tp_20">
						<img src="../../img/staticmap.png" class="pdg_btm_lr_25"/>
						<div class="inlineparent _addrs pdg_btm_lr_25">
							<h2>Head Office</h2>

							<p>
								163, G-5, Sector-16, Rohini, Delhi, India - 110085 
							</p>
						</div>
						<div class="inlineparent _addrs pdg_btm_lr_25">
							<h2>Corporate Office</h2>
							<p>
								163, G-5, Sector-16, Rohini, Delhi, India - 110085 
							</p>
						</div>
					</div>
				</div>
			
			</article>
		</section>
		<section id="cls_ftr">
			<footer class="content_centralize ft_btm">
				<ul class="inlineparent">
					<li class="links">Home</li> | 
					<li class="links">About Us</li> | 
					<li class="links">Popular Pages</li> | 
					<li class="links">Blog</li> | 
					<li class="links">Terms Of use</li> | <li class="links">Privacy Policy</li> | <li class="links">Help</li> 
				</ul>
			</footer>
		</section>
	</body>
</html>		