<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head.html.ejs %>
		<script type="text/javascript" src="/js/library/jquery.form.js"></script>
		<script type="text/javascript" src="/js/library/validate.min.js"></script>
	</head>
	<body>
		<section id="cls_hdr" class="___hd_sctn">
			<header class="inlineparent __hdr_main content_centralize">
				<div class="__logo">
					<h2>GLAMBIN</h2>
				</div>
			</header>
		</section>
		<section id="cls_bdy">
			<article class=" __main__cntnt">
				<div class="content_centralize inlineparent __center">
					<div class="cntnt_ins">
						<h1 class="nrml_wght">Discover how your life changes with us</h1>
					</div>
					
					<div class="inlineparent __mod_login">
						<div class="inlineparent">
							<div class="head _lgn bld_wght" >
								Login
							</div>
							<div class="_pipe"></div>
							<div class="head _sgnup">
								Sign Up
							</div>
							
						</div>
						<form method="post" action="/gb/login" class="_lgn" class="inlineparent" id="loginForm" name="loginForm">
							<div class="inlineparent __center">
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_login.png" alt="login" style="padding:10px;" /> -->
									<input type="text" name="signUserId" placeholder="Enter your Email or Phone number"/>
								</div>
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_password.png" alt="password" style="padding: 10px;"/> -->
									<input type="password" name="password" placeholder="Enter your Password" />
								</div>
								<div class="__eml__PH inlineparent forgot_pass"><a href="/gb/forgot-password">Forgot password ?</a></div>
								
							</div>
							<div class="button _pln_button __center _lgn_hmbtn" id="login_btn">Login</div>
						</form>
						<form method="post" action="/gb/register-user" class="_sgnup dsp_nn inlineparent"  id="signUpForm" name="signUpForm">
							<div class="inlineparent __center">
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_login.png" alt="login" style="padding:10px;" /> -->
									<input type="text" name="name" placeholder="Enter your name" />
									<div class="pos_abs error dsp_nn">
										<img src="../img/error.png"/>
										<p class="error_txt pos_abs dsp_nn">
										</p>
									</div>
								</div>
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_login.png" alt="login" style="padding:10px;" /> -->
									<input type="text" name="emailId" placeholder="Enter your Email or Phone number" />
									<div class="pos_abs error dsp_nn">
										<img src="../img/error.png"/>
										<p class="error_txt pos_abs dsp_nn">
										</p>
									</div>
								</div>
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_password.png" alt="password" style="padding: 10px;"/> -->
									<input type="password" name="password" placeholder="Enter your Password" />
									<div class="pos_abs error dsp_nn">
										<img src="../img/error.png"/>
										<p class="error_txt pos_abs dsp_nn">
										</p>
									</div>
								</div>
								<div class="__eml__PH inlineparent">
									<!-- <img src="../img/_password.png" alt="password" style="padding: 10px;"/> -->
									<input type="password" name="confPassword" placeholder="Please confirm your Password" />
									<div class="pos_abs error dsp_nn">
										<img src="../img/error.png"/>
										<p class="error_txt pos_abs dsp_nn">
										</p>
									</div>
								</div>
							</div>
							<div class="button _pln_button __center _lgn_hmbtn" id="signin_btn">Sign Up</div>
						</form>
					</div>
				</div>
				<article id='how_works'>
					<section id="we_have" class="content_centralize inlineparent">
						<div class="search_we_have inlineparent">
							<img src="../img/homeIcons/neighbours.png">
							<h2>Neighbours</h2>
						</div>
						<div class="search_we_have inlineparent">
							<img src="../img/homeIcons/search.png">
							<h2>Search</h2>
						</div>
						<div class="search_we_have inlineparent">
							<img src="../img/homeIcons/category.png">
							<h2>Categories</h2>
						</div>
						<div class="search_we_have inlineparent">
							<img src="../img/homeIcons/tags.png">
							<h2>Tags</h2>
						</div>
						<div class="search_we_have inlineparent">
							<img src="../img/homeIcons/people.png">
							<h2>People</h2>
						</div>
						
					</section>
				</article>
			</article>
		</section>
		<section class="__it_wrks">
			<article class="content_centralize inlineparent">
				<div class="_process_ inlineparent">
					<h2> How It Works?</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="inlineparent">
					<img src="../img/_demo_page2.png">
				</div>
			</article>
		</section>
		<div id="OTPPopup" class="inlineparent dsp_nn">
			<h1 class="wdth_100_per pdg_btm_lr_25 bx_szg" style="font-size:1.6em;">Enter your OTP <img src="../img/cross.png" class="closePopup floated_rgt" alt="closePopUp" style="margin-top:5px"></h1>
			<div class="__eml__PH inlineparent wdth_100_per">
				<input type="password" name="otp" placeholder="Enter your OTP." id="OTPval"/>
			</div>
			<p class="wdth_100_per messageOTP" >Your Code is valid for 180 seconds.</p>
			<input type="hidden" value="" id="GBUserPhone"/>
			<input type="hidden" value="" id="GBUserCode"/>
			<div class="button _pln_button __center _lgn_hmbtn" id="subMitOtp">Submit</div>
		</div>
		<% include ../../partials/_section_footer.html.ejs %>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".__mod_login .head").click(function(){
					var _self=$(this);
					if(_self.hasClass("_lgn")){
						$("form._lgn").removeClass("dsp_nn");
						$("div._lgn").addClass("bld_wght");
						$("div._sgnup").removeClass("bld_wght");
						$("form._sgnup").addClass("dsp_nn");
					}else{

						$("form._sgnup").removeClass("dsp_nn");
						$("div._sgnup").addClass("bld_wght");
						$("div._lgn").removeClass("bld_wght");
						$("form._lgn").addClass("dsp_nn");
					}
					$("input[type=text]").val('');
				});

				$('#loginForm input[name="signUserId"], #loginForm input[name="password"]').keypress(function(e){
					if(e.which==13){
						$("#login_btn").click();		
					}
				});
				
				$("#login_btn").click(function(e){
					$(this).parent("#loginForm").ajaxSubmit({
						beforeSubmit:function (form,jqxhr,options) {
							var generalValidator = new FormValidator('loginForm', [{
							    name: 'signUserId',
							    display: 'EmailId',
							    rules: 'required'
							}, {
							    name: 'password',
							    rules: 'required'
							}], function(errors, event) {
							    return errors.length;
							});
							var error=generalValidator._validateForm(e);
							if(generalValidator.errors.length>0){
								return false;	
							}else{
								var bool=true;
								for (var i = 0; i < form.length; i++) {
									if(form[i].name=="signUserId" && form[i].name!=''){
										if(isNaN(form[i].name)){
											bool=true;
										}else if(isNaN(form[i].name)){
											bool=true;
										}else{
											bool=false;
										}
									}
								}
								return bool;	
							}
						},
						success:function(data){
							window.location.href='/gb/register-general-form';
						}
					});
				});
				
				$("#signin_btn").click(function(e){
					$(this).parent("#signUpForm").ajaxSubmit({
						beforeSubmit:function (form,jqxhr,options) {
							var generalValidator = new FormValidator('signUpForm', [{
							    name: 'name',
							    display: 'name',
							    rules: 'required'
							}, {
							    name: 'emailId',
							    display: 'EmailId or Phone Number',
							    rules: 'required|callback_check_emailId'
							}, {
							    name: 'password',
							   	display: 'Password',
							    rules: 'required|min_length[6]'
							}, {
							    name: 'confPassword',
							    display: 'Confirm Password',
							    rules: 'required|min_length[6]|matches[password]'
							}], function(errors, event) {
							    if(errors.length>0){
							    	for(var i=0; i<errors.length;i++){
								    	var err=$("input[name="+errors[i].name+"]").parent().find('.error');
								    	err.show();
								    	err.find(".error_txt").text(errors[i].message);
							    		
							    	}
							    	return false;
							    }

							});
							generalValidator.registerCallback('check_emailId', function(value) {
							    var emailReg=/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/
							    if (isNaN(value) && emailReg.test(value)) {
							        return true;
							    }
							    if(!isNaN(value) && value.length==10){
							    	return true;
							    }
							    return false;
							}).setMessage('check_emailId', 'Your emailId should be number or emailId.');
							
							var error=generalValidator._validateForm(e);
							if(generalValidator.errors.length>0){
								return false;	
							}else{
								$('.error').hide();
								return true;	
							}
						},
						success:function(data){
							if(data.status==0){
								if(data.result!=null && Object.keys(data.result).length>0){
									$("#GBUserCode").val(data.result.userCode);
									$("#GBUserPhone").val(data.result.emailId);
									$("#OTPPopup").bPopup({
										modalClose:false,
										closeClass:"closePopup",
										escClose:false
									});
								}
							}
						}
					});
				});

				$("#subMitOtp").click(function(){
					$.ajax({
						url:"/gb/user-verify/pending-verification/"+$("#GBUserCode").val()+$("#OTPval").val(),
						type:"GET",
						success:function(data){
							if(data.status==0){
								$(".messageOTP").text("Your account has been verfied. Now you are verified for login in your account.");
								setTimeout(function(){
									window.location.reload();
								},3000);
							}
						}
					});
				});
			});
		</script>
	</body>
</html>